<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= variables.titulo || "Eventify" %></title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/app.js"></script>

    <!-- Open Graph tags -->
    <meta property="og:title" content="<%= variables.titulo || 'Eventify' %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= 'https://eventify.com' %>" />
    <meta property="og:description" content="<%= variables.description || 'Plataforma para gerenciamento e divulgação de eventos' %>" />
    <meta property="og:image" content="<%= variables.image || '/images/Vector 1.png' %>" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= variables.titulo || 'Eventify' %>" />
    <meta name="twitter:description" content="<%= variables.description || 'Plataforma para gerenciamento e divulgação de eventos' %>" />
    <meta name="twitter:image" content="<%= variables.image || '/images/Vector 1.png' %>" />
</head>
<body class="min-h-screen">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <main>
            <%- body %> <!-- Aqui injeta o conteúdo da página -->
        </main>

        <footer class="py-6">
            <p>&copy; 2025 Eventify</p>
        </footer>
    </div>
</body>
</html>
